/* Стилизация кнопки */
.btn {
    user-select: none;
    line-height: 48px;
    color: var(--white);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 14px;
    display: inline-block;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    border-radius: 8px;  
}

.btn__btn-primary {  
        background-color: var(--blue-2);
}

.btn__btn-primary--disabled {     
        background: var(--blue-2);
        opacity: 50%;
        cursor: not-allowed;
}

.btn__btn-secondary {
        background: var(--purple);
        cursor: default;
}


.btn__btn-secondary--disabled {
        background: var(--purple);
        opacity: 50%;
        cursor: not-allowed;
}

.btn__btn-alternate { 
        background: var(--white);
        color: var(--grey-4); 
        cursor: default;
        border: solid 2px;
        border-color: black;
}

.btn__btn-alternate--disabled {
        background: var(--white);
        opacity: 30%;
        color: var(--grey-3);
        cursor: not-allowed;
        border: solid 2px;
        border-color: black;
}

