/* Стилизация кнопки */
.btn {
    user-select: none;
    line-height: 19px;
    height: 48px;
    color: var(--white);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 14px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    border-radius: 8px;  
}

.btn_primary {  
        background-color: var(--blue-2);
        border: 0;
}

.btn_primary:disabled {     
        background: var(--blue-2);
        opacity: 50%;
        pointer-events: none;
}

.btn_secondary {
        background: var(--purple);
        cursor: default;
        border: 0;
}


.btn_secondary:disabled {
        background: var(--purple);
        opacity: 50%;
        pointer-events: none;
}

.btn_alternate { 
        background: var(--white);
        color: var(--grey-4); 
        cursor: default;
        border: 1px solid #ACB5BD;
        
}

.btn_alternate:disabled {
        background: var(--white);
        opacity: 30%;
        color: var(--grey-3);
        pointer-events: none;
        border: 1px solid #ACB5BD;
}

