/* Стилизация аккордеона */
details {
    width: 730px;
    height: 72px;
    outline: 2px solid var(--grey-3);
    text-align: left;
    border-radius: 1px;
    cursor: pointer;
    margin: 2px;
    border: 15px solid white;
    
    
 
}
details[open] {
    width: 730px; 
    height: 144px;
    outline: 2px solid var(--grey-3);
    text-align: left;
    border-radius: 2px;
    
}

summary::marker{display:none;} 
summary {
    display: inline-block;  
}

/* .img-container {
    background-image: url(C:\Lessons\htmlcss-20240216_ea-shreyner\assets\images\Vector.jpg);
    width: 600px;
    height: 400px;
}    */

summary:after {  
    
    content: "⇧";
    margin-left: 450px;
  }
  details[open] > summary:after {
    content: "⇧";
  }
