/* Стилизация аккордеона */

.accordion__item {
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 8px;
    border: 1px solid var(--grey-3);
    padding-left: 32px;
    padding-right: 48.69px;
    padding-top: 24px;
    padding-bottom: 24px;

}

.accordion__details[open] {
    border-radius: 2px;
    padding-bottom: 32px;
}

.accordion__summary { 
    font-family: Inter;
    font-size: 16px;
    line-height: 24px;
    color: var(--black);
}

.accordion__content {
    font-family: Inter;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey-4);
}