.histogram {
    /* height: 100px;
    width: 354px; */
    border: solid;
    border-width: 1px;
    border-radius: 8px;
    border-color: var(--grey-3);
    padding: 16px 24px 24px 24px;
}

.histogram__up {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr 59px;
    gap: 6px ;
    padding-bottom: 39px;
}

.histogram__title {
    size: 16px;
    line-height: 24px;
    font-family: Inter;
    opacity: 80%;
    color: var(--black);
}

.histogram__link {
    align-self: center;
    justify-self: start;
    color: rgba(66, 99, 235, 1);
}

.histogram__amount {
    size: 20px;
    line-height: 26px;
    font-family: Inter;
    color: var(--black);
}

.hisogram-down {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    
    /* align-content: start;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(30, 9px); */
    grid-column-gap: 1px;
}

.hisogram__rectangle {
    /* justify-self: start; */
    flex-basis: 9px;
    height: 50px;
    background-color: rgba(66, 99, 235, 1);
    
}

.hisogram__rectangle__1 {
    height: 70%;
}

.rectangle__2 {
    height: 40%;
}

.rectangle__3 {
    height: 80%;
}

.rectangle__4 {
    height: 40%;
}

.rectangle__5 {
    height: 65%;
}

.rectangle__6 {

    height: 75%;
}

.rectangle__7 {
    height: 100%;
}

.rectangle__8 {
    height: 25%;
}

.rectangle__9 {
    height: 50%;
}

.rectangle__10 {
    height: 60%;
}

.rectangle__11 {
    height: 70%;
}

.rectangle__12 {
    height: 25%;
}

.rectangle__13 {
    height: 70%;
}

.rectangle__14 {
    height: 25%;
}

.rectangle__15 {
    height: 70%;
}

.rectangle__16 {
    height: 60%;
}

.rectangle__17 {
    height: 50%;
}

.rectangle__18 {
    height: 40%;
}

.rectangle__19 {
    height: 60%;
}

.rectangle__20 {
    height: 55%;
}

.rectangle__21 {
    height: 40%;
}

.rectangle__22 {
    height: 25%;
}

.rectangle__23 {
    height: 70%;
}

.rectangle__24 {
    height: 66%;
}

.rectangle__25 {
    height: 70%;
}

.rectangle__26 {
    height: 60%;
}

.rectangle__27 {
    height: 25%;
}

.rectangle__28 {
    height: 70%;
}

.rectangle__29 {
    height: 30%;
}