@import '../fonts/fonts.css';

:root {
    --white: #ffffff;
    --black: #212429;
    --pink: #F784AD;
    --purple: #7048E8;
    --blue: #374FC7;
    --red: #F03D3E;
    --grey-1: #F8F9FA;
    --grey-2: #DDE2E5;
    --grey-3: #ACB5BD;
    --grey-4: #495057;
    --blue-2: #4263EB;

    --error: var(--red);
    --success: var(--blue);

    --primary: var(--blue);
    --secondary: var(--purple);
}

* {
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: #F8F9FA;
    background-color: var(--red);
    height: 15px;
    padding: 25px;
    margin: 0px;
    
}

nav {
    color: #F8F9FA;
    background-color: orange;
    height: 15px;
    padding: 25px;
}   

article {
    color: #F8F9FA;
    background-color: #374FC7; 
    border: 10px solid green;
}

footer {
    color: #F8F9FA;
    background-color: purple;   
    height: 10px;
    padding: 15px;
}